.contacts {
  background-color: white;
  padding: 12px 16px;
  margin-top: auto;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -12px;
  border-radius: 12px;
  h2 {
    padding: 0;
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }
}
ul.contacts__list {
  margin-bottom: 10px;
}
.contacts__list-item {
  display: flex;
}
.contacts__list-right {
  margin-left: 5px;
}
.nature-main {
  margin-bottom: 10px;
}
.nature-main__desc {
  padding: 0;
  margin: 0;
  padding-left: 15px;
  font-size: 1.2rem;
}
@media (max-width: 1024px) {
  .nature-main {
    display: block;
  }
  .nature-main__desc {
    margin-top: 10px;
  }
}
