.swiper {
  width: 50%;
  margin-right: 15px;
  float: left;
}
.swiper-slide {
  height: auto;
  margin-bottom: 9px;
}
.slide__img {
  height: 100%;
  width: 100%;
}
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: 0.5;
  background: white;
}

@media (max-width: 1024px) {
  .swiper {
    width: 100%;
    max-width: none;
    margin-right: 15px;
    float: none;
  }
}
